<div class="bg-info p-5">
    <h1>Please enter your credentials</h1>
    <form class="m-5">
        <label for="loginUsername" class="text-light">Username</label>
        <input id="loginUsername" class="form-control w-75 my-3" type="text" placeholder="Username" autocomplete="off">
        <label for="loginPassword" class="text-light">Password</label>
        <input id="loginPassword" class="form-control w-75 my-3" type="password" placeholder="Password" autocomplete="off">
        <button id="loginSubmit" class="btn btn-success my-3">Submit</button>
        <a href="/register" class="btn btn-primary" type="button">I do not have an account</a>
    </form>
</div>