<div class="bg-info p-5">
    <h1>Please enter your desired credentials</h1>
    <form class="m-5">
        <label for="registerUsername" class="text-light">Username</label>
        <input id="registerUsername" class="form-control w-75 my-3" type="text" placeholder="Username" autocomplete="off">
        <label for="registerPassword" class="text-light">Password</label>
        <input id="registerPassword" class="form-control w-75 my-3" type="password" placeholder="Password" autocomplete="off">
        <label for="registerPassword2" class="text-light">Please re-enter your desired password</label>
        <input id="registerPassword2" class="form-control w-75 my-3" type="password" placeholder="Password" autocomplete="off">
        <button id="registerSubmit" class="btn btn-success my-3">Submit</button><br><br>
        <a href="/login" class="btn btn-primary" type="button">I already have an account</a>
    </form>
</div>